/*NAVIGATION BAR CSS*/
#main-navbar {
background-color: #8A8A86;
overflow: hidden;
font-family: 'Raleway', sans-serif;
}

#navbar-container{
float: left;
width: 100%;
position: relative;
font-family: 'Raleway', sans-serif;
}

#main-navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
position: relative;
left: 50%;
float: left;
}
#main-navbar ul li {
float: left;
position: relative;
right: 50%;
display: block;
}
#main-navbar ul li a {
 display: block;
 padding: 10px 20px;
 color: #fff;
 text-decoration: none;
}
#main-navbar ul li a:hover{
 background-color: #000;
}
#onpage {
 text-decoration: underline overline;
}
/*BACKGROUND COLOR CSS*/
body {
  background-color: #D7BABA;
}
/*FONT/TEXT DECORATION CSS*/
#header {
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  text-align: center;
  color: #000000;
}
#subtitle {
   text-decoration: underline;
   color: #000000;
   text-align: center;
}
h1,h2,h3,h4{
  font-family: 'Indie Flower', cursive;
  font-style: italic;
  color: #383838;
}
p,ul,li {
  font-family: 'Raleway', sans-serif;
  color: black;
}
/*GALLERY CSS- INTERESTS + HOBBIES PAGE*/

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
}
img {
  width: 70px;
  height: auto;
}
/* google map */
#map{
  position: relative;
  margin-top: 3em;
  height: 40em;
  width: 100%;
}
.map-box{
  position: relative;
  left: 30em;
  box-shadow: 10px 10px 5px #777777;
  width: 18em;
  height: auto;
  margin: 1.925em;
  padding: 1.625em;
}
